@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #b3e9ff;
}

.icon {
  font-size: 4rem;
  margin-bottom: -25px;
}
