@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #b3e9ff;
}

.icon {
  font-size: 4rem;
  margin-bottom: -25px;
}

.box-container {
  width: 210px;
  height: 70px;
  background: #e3ffe0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.box-container:hover {
  transform: scale(1.01);
}

.small-icon {
  font-size: 1.1rem;
  margin-right: 5px;
}
